{% extends "layouts/base.html" %} {% block title %}Add Flat Rate{% endblock %}

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}
<style>
  .main-panel>.content {
    padding: 0;
  }

  .container {
    min-width: 100%;
    margin: 0;
    padding: 0;
  }

  .row {
    margin: 0;
  }

  .offset-md-3 {
    margin-left: 0;
  }

  .card {
    min-height: calc(100vh - 270px);
    left: 300px;
    min-width: calc(100vw - 400px);
    margin-block: 0;
  }

  .card * {
    font-size: large;
  }

  .card .title {
    font-size: 2rem;
  }

  .card label {
    font-size: 1rem;
  }

  .form-control {
    height: calc(3rem + 2px);
  }

  /*select option {
    color: black;
  }
  select option:checked {
    color: rgb(0, 228, 0);
  }

  #notification-bar {
    font-size: large;
    font-weight: bolder;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 20px;
    text-align: center;
    z-index: 9999;
  }
  .hidden {
    display: none;
  }
  .success {
    background-color: #4caf50;
  }
  .error {
    background-color: #f44336;
  }*/

  @media screen and (max-width: 992px) {
    .card {
      left: 200px;
    }
  }

  @media screen and (max-width: 768px) {
    .card {
      left: 0;
    }
  }

  @media screen and (max-width: 576px) {
    .card * {
      font-size: medium;
    }

    .card .title {
      font-size: 1.6rem;
    }

    .card label {
      font-size: 0.8rem;
    }

    .form-control {
      height: calc(2.7rem + 2px);
    }
  }
</style>
{% endblock %} {% block content %}
<div class="content">
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-6 mt-5 offset-md-3 pt-5 mt-5">
        <div class="card">
          <div class="card-header text-center py-4">
            <h4 class="title">Add Flat Rate</h4>
          </div>

          <form role="form" method="post" action="">
            {% csrf_token %}
            <div class="card-body px-5 py-3">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="id_rate_name">Rate Name</label>
                  <input type="text" class="form-control" id="id_rate_name" name="rate_name" required />
                </div>
              </div>

              <div id="ranges_container">
                <div>
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="id_from_0">From (kW)</label>
                      <input type="number" step="any" class="form-control" id="id_from_0" name="from_0" value="0" required disabled />
                    </div>
                    <div class="form-group col-md-3">
                      <label for="id_to_0">To (kW)</label>
                      <input type="text" class="form-control" id="id_to_0" name="to_0" value="Max" required disabled />
                    </div>
                    <div class="form-group col-md-3">
                      <label for="id_rate_0">Rate (Rs/month)</label>
                      <input type="number" step="any" class="form-control" id="id_rate_0" name="rate_0" required />
                    </div>
                    <!-- Saqib ? -->
                    <div class="form-group col-md-3 text-center">
                      <label for="id_additional_0">Additional Cost</label>
                      <br>
                      <input type="checkbox" class="form-control" id="id_additional_0" name="additional_0" onclick="handleAdditional(this, 0)" />
                    </div>
                  </div>
                  <div class="form-row" id="id_row_additional_0"></div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12 text-center">
                  <button type="button" class="btn btn-fill btn-primary" id="id_btn_add" onclick="addRange()">
                    Add
                  </button>
                  <button type="button" class="btn btn-fill btn-primary" id="id_btn_remove" onclick="removeRange()"
                    disabled>
                    Remove
                  </button>
                </div>
              </div>
            </div>
            <div class="card-footer text-center">
              <button type="submit" class="btn btn-fill btn-primary">
                Create Flat Rate
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  let rangeCount = 1;

  function addRange() {
    const container = document.getElementById('ranges_container');

    const div = document.createElement('div');

    div.innerHTML = `
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="id_from_${rangeCount}">From (kW)</label>
          <input type="number" step="any" class="form-control" id="id_from_${rangeCount}" name="from_${rangeCount}" required />
        </div>
        <div class="form-group col-md-3">
          <label for="id_to_${rangeCount}">To (kW)</label>
          <input type="text" class="form-control" id="id_to_${rangeCount}" name="to_${rangeCount}" value="Max" required disabled />
        </div>
        <div class="form-group col-md-3">
          <label for="id_rate_${rangeCount}">Rate (Rs/month)</label>
          <input type="number" step="any" class="form-control" id="id_rate_${rangeCount}" name="rate_${rangeCount}" required />
        </div>
        <!-- Saqib ? -->
        <div class="form-group col-md-3 text-center">
          <label for="id_additional_${rangeCount}">Additional Cost</label>
          <br>
          <input type="checkbox" class="form-control" id="id_additional_${rangeCount}" name="additional_${rangeCount}" onclick="handleAdditional(this, ${rangeCount})" />
        </div>
      </div>
      <div class="form-row" id="id_row_additional_${rangeCount}"></div>
    `;

    container.appendChild(div);
    rangeCount++;

    const prev_to = document.getElementById(`id_to_${rangeCount - 2}`);
    const curr_from = document.getElementById(`id_from_${rangeCount - 1}`);
    prev_to.setAttribute('value', '');
    prev_to.setAttribute('type', 'number');
    prev_to.setAttribute('step', 'any');
    prev_to.removeAttribute('disabled');
    prev_to.addEventListener('input', () => curr_from.value = prev_to.value);
    curr_from.addEventListener('input', () => prev_to.value = curr_from.value);

    document.querySelector('#id_btn_remove').removeAttribute('disabled');
  }

  function removeRange() {
    const container = document.getElementById('ranges_container');
    const lastRange = container.lastElementChild;
    container.removeChild(lastRange);
    rangeCount--;

    const curr_to = document.getElementById(`id_to_${rangeCount - 1}`);
    curr_to.removeEventListener('input', () => {});
    curr_to.setAttribute('type', 'text');
    // curr_to.setAttribute('value', 'Max'); // trath ?
    curr_to.value = 'Max';
    curr_to.setAttribute('disabled', true);

    if (rangeCount === 1) {
      document.querySelector('#id_btn_remove').setAttribute('disabled', true);
    }
  }

  function handleAdditional(cb, i) {
    const additional_row = document.getElementById(`id_row_additional_${i}`);
    if (cb.checked) {
      additional_row.innerHTML = `
      <div class="form-group col-md-6">
        <label for="id_every_additional_${i}">Every Additional (kW)</label>
        <input type="number" step="any" class="form-control" id="id_every_additional_${i}" name="every_additional_${i}" required />
      </div>
      <div class="form-group col-md-6">
        <label for="id_additional_rate_${i}">Additional Rate (Rs/month)</label>
        <input type="number" step="any" class="form-control" id="id_additional_rate_${i}" name="additional_rate_${i}" required />
      </div>
      `;
    } else {
      additional_row.innerHTML = '';
    }
  }
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE -->
<!-- {% block javascripts %}

{% endblock javascripts %} -->