{% extends "layouts/base.html" %} {% block title %}Readings{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  .main-panel .content {
    min-height: calc(100vh - 155px);
  }
  .navbar.navbar-absolute {
    z-index: 100000;
  }
  .card-body i {
    color: #9a9a9a;
    font-size: 1.4em;
  }
  .card-body i:hover {
    color: #575757;
  }
  .table > tbody > tr > .button-td,
  .white-content .table > tbody > tr > .button-td {
    width: 4rem;
    padding: 5px 0px;
  }
  .tooltip-inner {
    font-size: 10.5px;
    padding: 5px 10px;
  }
  .tooltip {
    border-radius: 4px;
  }
  #notification-bar {
    font-size: large;
    font-weight: bolder;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 20px;
    text-align: center;
    z-index: 9999;
  }

  .success {
    background-color: #4caf50;
  }
  .error {
    background-color: #f44336;
  }

  .filter-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    color: white;
  }

  .filter-container div {
    margin: 10px;
    width: 100%;
    max-width: 180px;
  }

  .filter-container div select {
    width: 100%;
    max-width: 180px;
  }
  .filter-container #quarter-number-filter {
    width: 100%;
    max-width: 180px;
  }
  .white-content .filter-container {
    color: black;
  }
  .white-content #show-filter-container {
    color: black;
  }
  #show-filter-container {
    display: inline;
    margin: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  .filter-container {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: max-height 1s, opacity 1s, visibility 0.5s;
  }
  .filter-container.show {
    max-height: 1000px;
    opacity: 1;
    visibility: visible;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  .btn-primary {
    /*padding: 10px 20px;*/
    margin: 0 20px;
  }
  .footer {
    padding: 0;
  }
  .footer .nav {
    padding-left: 0;
  }
  .footer .copyright {
    padding-right: 0;
  }

  @media screen and (max-width: 500px) {
    .filter-container div select,
    .filter-container #quarter-number-filter {
      font-size: 12px;
    }
    .btn-primary {
      font-size: 12px;
      padding: 8px 18px;
      margin: 0 10px 0 0;
    }
  }
</style>
{% endblock %} {% block content %}
<div id="notification-bar" class="hidden"></div>

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div id="show-filter-container">
        Show Filters <i class="tim-icons icon-minimal-down"></i>
      </div>
      <div class="filter-container">
        <div class="quarter-number-filter">
          <label for="quarter-number-filter">Filter by Quarter Number:</label>
          <input type="text" id="quarter-number-filter" />
        </div>
        <div>
          <label for="quarter-type-filter">Filter by Quarter Type:</label>
          <select id="quarter-type-filter">
            <option value="">All</option>
            {% for value in quarterType %}
            <option value="{{ value }}">{{ value }}</option>
            {% endfor %}
          </select>
        </div>

        <div>
          <label for="id_month_selection">Month</label>
          <select id="id_month_selection" name="selected_month">
            <option value="">All</option>
            <option value="1">January (01)</option>
            <option value="2">February (02)</option>
            <option value="3">March (03)</option>
            <option value="4">April (04)</option>
            <option value="5">May (05)</option>
            <option value="6">June (06)</option>
            <option value="7">July (07)</option>
            <option value="8">August (08)</option>
            <option value="9">September (09)</option>
            <option value="10">October (10)</option>
            <option value="11">November (11)</option>
            <option value="12">December (12)</option>
          </select>
        </div>
        <div>
          <label for="id_year_selection">Year</label>
          <select id="id_year_selection" name="selected_year">
            <option value="">All</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
          </select>
        </div>
      </div>
      <!--<div class="filter-container">
        <label for="month-filter">Filter by Month:</label>
        <select id="month-filter">
          <option value="">All</option>
          <option value="1">Jan</option>
          <option value="2">Feb</option>
          <option value="3">Mar</option>
          <option value="4">Apr</option>
          <option value="5">May</option>
          <option value="6">Jun</option>
          <option value="7">Jul</option>
          <option value="8">Aug</option>
          <option value="9">Sep</option>
          <option value="10">Oct</option>
          <option value="11">Nov</option>
          <option value="12">Dec</option>
        </select>

        <label for="year-filter">Filter by Year:</label>
        <input
          type="text"
          id="year-filter"
          name="year"
          placeholder="Enter year"
        />

        <label for="quarter-type-filter">Filter by Quarter Type:</label>
        <select id="quarter-type-filter">
          <option value="">All</option>
          {% for value in quarterType %}
          <option value="{{ value }}">{{ value }}</option>
          {% endfor %}
        </select>

        <label for="quarter-number-filter">Filter by Quarter Number:</label>
        <input
          type="text"
          id="quarter-number-filter"
          name="quarter-number"
          placeholder="Enter Quarter Number"
        />
      </div>-->

      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">List of Readings</h4>
                <a href="/set_readings.html">
                  <button type="" class="btn btn-fill btn-primary">
                    Update/Set Readings
                  </button>
                </a>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter" id="">
                    <thead class="text-primary">
                      <tr>
                        <th class="text-center">Quarter Number</th>
                        <th class="text-center">Quarter Type</th>
                        <th class="text-center">Month</th>
                        <th class="text-center">Year</th>
                        <th class="text-center">Units</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for v, value in room_data.items %}
                      <tr>
                        <td class="text-center quarter-number-column">
                          {{value.room_number}}
                        </td>

                        <td class="text-center quarter-type-column">
                          {{ value.quarter_type }}
                        </td>
                        <td class="text-center month-column">
                          {{ value.month }}
                        </td>
                        <td class="text-center year-column">
                          {{ value.year }}
                        </td>
                        <td class="text-center">{{ value.units}}</td>
                      </tr>
                      {%endfor%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock content %}

      <!-- Specific Page JS goes HERE -->
      {% block javascripts %}
      <script>
        //   $(document).ready(function () {
        //       $('[data-toggle="tooltip"]').tooltip();
        //     });

        //     $(document).ready(function () {
        //       $('[data-toggle="tooltip"]').tooltip();
        //       $(".delete-button").click(function () {
        //         var roomId = $(this).data("room-id");
        //         if (confirm("Are you sure you want to delete this quarter?")) {
        //           $.ajax({
        //             url: "{% url 'delete_room' %}",
        //             type: "POST",
        //             data: {
        //               room_id: roomId,
        //               csrfmiddlewaretoken: "{{ csrf_token }}",
        //             },
        //             success: function (response) {
        //               location.reload();
        //             },
        //             error: function (xhr, status, error) {
        //               console.error(error);
        //               alert("Error deleting quarter. Please try again.");
        //             },
        //           });
        //         }
        //       });
        //     });

        document.addEventListener("DOMContentLoaded", function () {
          const notificationBar = document.getElementById("notification-bar");

          function showNotification(status, message) {
            notificationBar.textContent = message;
            notificationBar.classList.add(status);
            notificationBar.classList.remove("hidden");
            setTimeout(function () {
              hideNotification();
            }, 3000);
          }

          function hideNotification() {
            notificationBar.textContent = "";
            notificationBar.classList.remove("success", "error");
            notificationBar.classList.add("hidden");
          }

          const successMessage = "{{ success_message }}";
          const errorMessage = "{{ error_message }}";

          if (successMessage.trim() !== "") {
            showNotification("success", successMessage.trim());
          }

          if (errorMessage.trim() !== "") {
            showNotification("error", errorMessage.trim());
          }
        });

        $(document).ready(function () {
          // Function to handle table filtering
          function filterTable() {
            var quarterNumber = $("#quarter-number-filter").val().trim();
            var quarterType = $("#quarter-type-filter").val();
            var selectedMonth = $("#id_month_selection").val();
            var selectedYear = $("#id_year_selection").val();

            $(".table tbody tr").each(function () {
              var row = $(this);
              var quarterNumberColumn = row
                .find(".quarter-number-column")
                .text()
                .trim();
              var quarterTypeColumn = row
                .find(".quarter-type-column")
                .text()
                .trim();
              var monthColumn = row.find(".month-column").text().trim();
              var yearColumn = row.find(".year-column").text().trim();

              var showRow =
                (quarterNumber === "" ||
                  quarterNumberColumn === quarterNumber) &&
                (quarterType === "" || quarterTypeColumn === quarterType) &&
                (selectedMonth === "" || monthColumn === selectedMonth) &&
                (selectedYear === "" || yearColumn === selectedYear);

              if (showRow) {
                row.show();
              } else {
                row.hide();
              }
            });
          }

          // Trigger filtering when any filter is changed
          $(
            "#quarter-number-filter, #quarter-type-filter, #id_month_selection, #id_year_selection"
          ).change(function () {
            filterTable();
          });

          // Initial filtering on page load
          filterTable();
        });

        const showFilterBtn = document.getElementById("show-filter-container");
        const filterContainer = document.querySelector(".filter-container");
        showFilterBtn.addEventListener("click", () => {
          filterContainer.classList.toggle("show");
          if (filterContainer.classList.contains("show")) {
            showFilterBtn.innerHTML =
              "Hide Filters <i class='tim-icons icon-minimal-up'></i>";
          } else {
            showFilterBtn.innerHTML =
              "Show Filters <i class='tim-icons icon-minimal-down'></i>";
          }
        });

        //        $(document).ready(function () {
        //          $('[data-toggle="tooltip"]').tooltip();
        //          function filterTable() {
        //            var monthType = $("#month-filter").val();
        //            var yearType = $("#year-filter").val();
        //            var quarterType = $("#quarter-type-filter").val();
        //            var quarterNumber = $("#quarter-number-filter").val();
        //
        //            $(".table tbody tr").each(function () {
        //              var monthTypeColumn = $(this)
        //                .find(".month-column")
        //                .text()
        //                .trim()
        //                .toLowerCase();
        //              var yearTypeColumn = $(this)
        //                .find(".year-column")
        //                .text()
        //                .trim()
        //                .toLowerCase();
        //              var quarterTypeColumn = $(this)
        //                .find(".quarter-type-column")
        //                .text()
        //                .trim()
        //                .toLowerCase();
        //              var quarterNumberColumn = $(this)
        //                .find(".quarter-number-column")
        //                .text()
        //                .trim()
        //                .toLowerCase();
        //
        //              if (
        //                (monthType === "" ||
        //                  monthTypeColumn === monthType.toLowerCase()) &&
        //                (yearType === "" ||
        //                  yearTypeColumn === yearType.toLowerCase()) &&
        //                (quarterType === "" ||
        //                  quarterTypeColumn === quarterType.toLowerCase()) &&
        //                (quarterNumber === "" ||
        //                  quarterNumberColumn === quarterNumber.toLowerCase())
        //              ) {
        //                $(this).show();
        //              } else {
        //                $(this).hide();
        //              }
        //            });
        //          }
        //          $(
        //            "#month-filter, #year-filter, #quarter-type-filter, #quarter-number-filter"
        //          ).change(function () {
        //            filterTable();
        //          });
        //          filterTable();
        //        });
      </script>
      {% endblock %}
    </div>
  </div>
</div>
